.DS_Store
NewsstandHW6/NewsstandHW6.xcodeproj/project.xcworkspace/xcuserdata/duytrieu.xcuserdatad/UserInterfaceState.xcuserstate
NewsstandHW6/NewsstandHW6.xcodeproj/xcuserdata/duytrieu.xcuserdatad/xcschemes/xcschememanagement.plist